<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!--Colors are ARGB : Alpha Red Green Blue. 
		Alpha is opacity: 
		00 is transparent 
		FF is opaque-->
		<!--FontColor sets color of text Red-Electro:FFFFDF0C28 Blue:2879FF-->
		<add key="FontColor" value="#FF2879FF"/>
		<!--TextDropShadowColor color used to highlight time and date -->
		<add key="TextDropShadowColor" value="#99c0ff"/>
		
		<!--Uncomment BackgroundColor and Comment BgImage to set specific color for background
		if Alpha byte of color is set to 00, then clock has no background
		<add key="BackgroundColor" value="#FFFFA0F0"/> -->
		
		<!--BgImage sets background image for the clock, if it is set, BgColor is ignored-->
		<add key="BackgroundImage" value="BgImage\black-gradient.jpg"/>
		<!-- Corner for bottom (not settable for top)-->
		<add key="TopCornerRadius" value="10"/>
		<add key="BottomCornerRadius" value="20"/>
		<!--BackgroundOpacity: 
			0   = totally transparent (you see only time of the clock,  and border)
			1   = totally visible 
			0.5 = half visible -->
		<add key="BackgroundOpacity" value="1"/>
		<add key="BorderThickness" value="3"/>
		<add key="BorderColor" value="#FF696969"/>
	</appSettings>
</configuration>