<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!--FontColor sets color of text-->
		<add key="FontColor" value="#2879FF"/>
		<!--TextDropShadowColor color used to highlight time and date -->
		<add key="TextDropShadowColor" value="#ff00ff"/>
		<!--Uncomment BgColor and Comment BgImage to set specific color for background-->
		<!--<add key="BgColor" value="#FF0000"/>-->
		<!--BgImage sets background image for the clock, if it is set, BgColor is ignored-->
		<add key="BgImage" value="BgImage\black-gradient.jpg"/>
	</appSettings>
</configuration>