<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets async="false">
		<target name="console" xsi:type="ColoredConsole" 
				layout="${date:format=HH\:mm\:ss,fff} |  ${pad:padding=15:inner=${logger:shortName=true:truncate=15}} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
        <target name="debug"   xsi:type="Debugger" layout="${date:format=HH\:mm\:ss,fff} |  ${pad:padding=15:inner=${logger:shortName=true:truncate=10}} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message}" />
		<target name="debug_file" xsi:type="File"  layout="${longdate} | ${pad:padding=14:inner=${appdomain:truncate=14}} | ${pad:padding=5:inner=${threadname:whenEmpty=${threadid}}} | ${pad:padding=15:inner=${logger:shortName=true:truncate=15}} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message}"
				fileName="${basedir}/logs/${processname}.log"
				archiveFileName="${basedir}/logs/${processname}_{##}.log"
				archiveAboveSize="10000000"
				deleteOldFileOnStartup="true"
				archiveOldFileOnStartup="true"
				maxArchiveFiles="10"
				archiveNumbering="Rolling"
				archiveEvery="Day"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="utf-8" />
	</targets>
	<rules>
		<logger name="xxxxxxxxxxxx" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="debug" />
		<logger name="*" minlevel="Trace" writeTo="debug_file" />
	</rules>
</nlog>